XML_1/output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persons" type="personsType"/>
  <xs:complexType name="nameType">
    <xs:sequence>
      <xs:element type="xs:string" name="firstName" minOccurs="0"/>
      <xs:element type="xs:string" name="familyName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="relativeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="role" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="childType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="role" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="familyType">
    <xs:sequence>
      <xs:element type="relativeType" name="relative" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="childType" name="child" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="nameType" name="name" minOccurs="0"/>
      <xs:element name="gender" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="childrenNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="4"/>
            <xs:enumeration value="0"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="siblingNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:byte">
            <xs:enumeration value="3"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="familyType" name="family" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personsType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>